<a href="https://colab.research.google.com/github/Ankita-3012/Gray-Interface-Tasks/blob/ankita1/Task4_Ankita.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Split a column in Pandas documentation and get part of it

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('/content/archive (1).zip')

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
sex = pd.get_dummies(df['Sex'], drop_first=True)

In [5]:
embark = pd.get_dummies(df['Embarked'], drop_first=True)

In [6]:
df.drop(['Sex', 'Embarked'], axis=1, inplace=True)

In [8]:
df=pd.concat([df,sex,embark], axis=1)

In [9]:
df.head()

,PassengerId,Survived,Pclass,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,male,Q,S
0,892,0,3,"Kelly, Mr. James",34.5,0,0,330911,7.8292,NaN,1,1,0
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",47.0,1,0,363272,7.0000,NaN,0,0,1
2,894,0,2,"Myles, Mr. Thomas Francis",62.0,0,0,240276,9.6875,NaN,1,1,0
3,895,0,3,"Wirz, Mr. Albert",27.0,0,0,315154,8.6625,NaN,1,0,1
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",22.0,1,1,3101298,12.2875,NaN,0,0,1

*Return the Index label if some condition is satisfied over a column

In [10]:
df.drop(['Name'], axis=1, inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Age          332 non-null    float64
 4   SibSp        418 non-null    int64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         417 non-null    float64
 8   Cabin        91 non-null     object
 9   male         418 non-null    uint8
 10  Q            418 non-null    uint8
 11  S            418 non-null    uint8
dtypes: float64(2), int64(5), object(2), uint8(3)
memory usage: 30.7+ KB

In [12]:
df.drop(['Cabin'], axis=1, inplace=True)

In [13]:
df.drop(['Ticket'], axis=1, inplace=True)

In [16]:
df.drop(['Age'], axis=1, inplace=True)

In [17]:
df['Fare'].fillna(df['Fare'].mode()[0],inplace=True)

In [18]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
SibSp          0
Parch          0
Fare           0
male           0
Q              0
S              0
dtype: int64

In [19]:
condition = df.iloc[1]>50

In [20]:
col_ind = condition[condition].index[0]

In [21]:
print(col_ind)

PassengerId

In [22]:
condition = df.iloc[40]<300

In [23]:
col_ind = condition[condition].index[0]

In [25]:
print(col_ind)

Survived

In [26]:
condition = df['PassengerId']>900

In [27]:
col_ind = condition.idxmax()

In [28]:
print(col_ind)

9

*Drop rows based on certain condition applied on a column

In [29]:
condition = df['PassengerId']<900

In [30]:
df_filter = df[~condition]

In [31]:
print(df_filter)

     PassengerId  Survived  Pclass  SibSp  Parch      Fare  male  Q  S
8            900         1       3      0      0    7.2292     0  0  0
9            901         0       3      2      0   24.1500     1  0  1
10           902         0       3      0      0    7.8958     1  0  1
11           903         0       1      0      0   26.0000     1  0  1
12           904         1       1      1      0   82.2667     0  0  1
..           ...       ...     ...    ...    ...       ...   ... .. ..
413         1305         0       3      0      0    8.0500     1  0  1
414         1306         1       1      0      0  108.9000     0  0  0
415         1307         0       3      0      0    7.2500     1  0  1
416         1308         0       3      0      0    8.0500     1  0  1
417         1309         0       3      1      1   22.3583     1  0  0

[410 rows x 9 columns]

In [35]:
condition = df['Pclass']>2

In [36]:
df_filter = df[~condition]

In [37]:
df_filter

     PassengerId  Survived  Pclass  SibSp  Parch      Fare  male  Q  S
2            894         0       2      0      0    9.6875     1  1  0
7            899         0       2      1      1   29.0000     1  0  1
11           903         0       1      0      0   26.0000     1  0  1
12           904         1       1      1      0   82.2667     1  0  1
13           905         0       2      1      0   26.0000     1  0  1
..           ...       ...     ...    ...    ...       ...   ... .. ..
405         1297         0       2      0      0   13.8625     1  0  0
406         1298         0       2      1      0   10.5000     1  0  1
407         1299         0       1      1      1  211.5000     1  0  0
411         1303         1       1      1      0   90.0000     1  1  0
414         1306         1       1      0      0  108.9000     1  0  0

[200 rows x 9 columns]